[requires]
python_version = "3.8.5"

[packages]
click = "==7.1.2"
itsdangerous = "==1.1.0"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
webpack-manifest = "*"
gunicorn = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
boto3 = "*"
psycopg2-binary = "*"

[dev-packages]
pip = "*"
boto3 = "*"
pylint = "*"
pycodestyle = "*"
ec2instanceconnectcli = "*"
pytest = "*"
